main {
    width: 100vw;
    padding: 0;
    margin: 0;
}
#about-me {
    display: flex;
    flex-direction: column;
    color: var(--font-color);
    padding: 2em 5em 5em 5em;
    background: linear-gradient(var(--background-color-medium) 1%, var(--background-color-dark));
}
  
#about-me > header {
    font-family: "Work Sans";
    font-weight: 600;
    text-align: center;
    font-size: 3em;
    color: var(--font-color-light);
    margin-top: 1.5em;
}

#profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
    background-color: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(0.5em);
    box-shadow: 0 0 3em 0em rgba(255, 255, 255, 0.6);
    border-radius: 3em;
    border: 0.1em solid white;
    z-index: 0;
}

#profile-picture {
    height: 10em;
    width: 10em;
    margin: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    border-radius: 10em;
    overflow: hidden;
    z-index: 10;
}

img {
    width: inherit;
}

#profile-details {
    flex: 1;
    flex-direction: column;
    margin: 2em;
    margin-left: 0em;
    border: 0px solid black;
}

#profile-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1em;
}

.profile-link {
    display: flex;
    width: 9em;
    padding: 0.4em;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: inherit;
    border: 0px solid black;
}

.profile-link-image {
    height: 2em;
    width: 2em;
    border-radius: 1em;
    padding: 0.08em;
    box-shadow: inset 0 0 10em 0em rgba(255, 255, 255, 0.7), 0 0 0.5em 0em rgba(255, 255, 255, 0.4)
}

.profile-link-text {
    margin: 0.5em;
    font-size: 1em;
}

h2 {
    font-size: 2.2em;
    font-weight: 600;
}

h3 {
    font-size: 2em;
    font-family: "Montserrat";
    font-weight: 400;
    margin: 0;
}

blockquote {
    text-align: center;
    font-family: Montserrat;
}
  
.main-quote {
    font-size: 2em;
    margin-bottom: 0;
    border: 0px solid black;
}
  
.quote-translation {
    font-size: 1.25em;
    font-style: italic;
    margin-top: 0;
}
  
.essay {
    font-family: "Work Sans";
    text-align: justify;
    font-size: 1.25em;
}
  
#projects {
    padding: 0.4em 2em 2em 2em;
    height: inherit;
    background: linear-gradient(var(--background-color-dark), var(--background-color-medium));
}
  
#projects > header {
    font-family: "Work Sans";
    font-weight: 600;
    text-align: center;
    font-size: 3em;
    color: var(--font-color-light);
    margin-top: 1em;
    margin-bottom: 0.5em;
}
  
#projects > a {
    font-family: "Work Sans";
    font-weight: 500;
    display: block;
    font-style: italic;
    text-align: center;
    font-size: 1.5em;
    color: var(--font-color-light);
    margin-bottom: 1em;
}
  
.website-project {
    border: 5px solid white;
    border-radius: 1em;
    margin: 1em auto;
    width: 80%;
    height: 30em;
    transition: width 0.75s, height 0.75s;
    background-color: hsla(180deg, 70%, 30%, 50%);
}
  
.project-title {
    font-family: "Work Sans";
    font-weight: 600;
    font-size: 2em;
    text-align: center;
    margin: 0.5em;
    color: var(--font-color);
}
  
.codepen-embed {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    height: calc(100% - 5em);
    width: calc(100% - 1.3em);
    margin: 0 auto 1rem;
    border-radius: 0.75em;
}
  
.website-project:hover {
    height: 80vh;
    width: 80vw;
}